<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Boston House Price Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="Gender" placeholder="Gender" required="required" /><br>
    	<input type="text" name="AGE" placeholder="AGE" required="required" /><br>
        <input type="text" name="Height in cm" placeholder="Height in cm" required="required" /><br>
        <input type="text" name="Weight in kg" placeholder="Weight in kg" required="required" /><br>
        <input type="text" name="BMI" placeholder="BMI" required="required" /><br>
        <input type="text" name="Obesity class" placeholder="Obesity class" required="required" /><br>
        

       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>